body {
    display: grid;
    grid-template-rows: 1fr 4.188rem;   
}

body::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("/media/svgs/bg.svg");
    background-size: cover;
    filter: saturate(1.2) var(--theme-filter);
}

.cursor-override * {
    cursor: inherit !important;
    pointer-events: none !important;
}

#transition-layer {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: linear-gradient(black, #101010);
    transition: 1s;
}

#transition-logo {
    cursor: default !important;
}

main {
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    height: 100%;
    padding: 1rem;
}

main[data-preview-window] #windows > *:not([data-window-to-preview]) {
    display: none !important;
}

.center-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    width: clamp(11.063rem, 20%, 15.5rem);
    transform: translate(-50%, -50%);
    filter: var(--theme-filter) drop-shadow(0 0.25rem 15px #00000001);
    transition: transform 0.2s;
    cursor: pointer;
}

body:not(.cursor-override) #os-logo:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

body:not(.cursor-override) #os-logo:active {
    transform: translate(-50%, -50%) scale(0.9);
}

#shortcuts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.25rem;
    width: fit-content;
    height: 100%;
}

/* --------------- Mobile --------------- */

body[data-mobile] #shortcuts {
    position: absolute;
    bottom: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    box-sizing: border-box;
    height: 50%;
    width: 100%;
    padding: 1rem;
}

body[data-mobile] #shortcuts desktop-shortcut {
    height: fit-content;
}

body[data-mobile] #windows {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s ease-in-out;
    overflow-y: hidden;
    overflow-x: hidden;
    pointer-events: none;
}

body[data-mobile] #windows:has([data-viewed-window]) {
    opacity: 1;
    pointer-events: all;
}

body[data-mobile] #windows > * {
    width: 100%;
    translate: 0;
    transition: scale 0.3s ease-in-out, translate 0.3s ease-in-out;
}

body[data-mobile] #windows[data-nav-open="true"] {
    opacity: 1;
    pointer-events: all;
    scroll-snap-type: x mandatory;
}

body[data-mobile] #windows[data-nav-open="true"]::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

body[data-mobile] #windows[data-nav-open="true"]::-webkit-scrollbar-track {
    background-color: #0000004e;
}

body[data-mobile] #windows[data-nav-open="true"]::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
}

body[data-mobile] #windows[data-nav-open="true"] > * {
    transform: translateY(0);
    scale: 0.8;
    scroll-snap-align: center;
}

body[data-mobile] #windows[data-nav-open="true"][data-multiple-windows=true] > * {
    translate: 0 -1.5rem;
}

/* Prevents interactions with a window's content when navigating */
body[data-mobile] #windows[data-nav-open="true"] > *::before {
    content: "";
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body[data-mobile] #windows #empty-windows-message {
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    font-size: clamp(1rem, 7vw, 2rem);
    text-wrap: nowrap;
    color: #ffffff40;
    translate: -50% -50%;
}
