body {
	margin: 0 auto;
	overflow: hidden;
}

main {
	position: relative;
    display: grid;
    place-items: center;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
    background-color: white;
}	

main section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main section h1 {
    margin: 0;
    text-align: center;
    font-size: clamp(2rem, 20vw, 9rem);
    background: linear-gradient(#ff6200, #ff0000);
    background-clip: text;
    color: transparent;
}

main section p {
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.5rem);
}
