body {
    display: grid;
    grid-template-rows: auto 1fr;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	overflow: hidden;
}

body > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.625rem 1.25rem;
}

body > header h1 {
    margin: 0;
    color: white;
    font-size: clamp(2rem, 10vw, 4rem);
}

body > header h2 {
    margin: 0;
    color: rgb(20, 18, 170);
    font-size: clamp(1rem, 7vw, 2rem);
}

main {
    padding: 0.625rem;
    font-size: clamp(1rem, 3vw, 1.4rem);
}

footer {
    padding: 0.625rem 1.25rem;
    color: white;
    text-align: center;
    font-size: clamp(1rem, 4vw, 2rem);
}

body[data-type=research] header,
body[data-type=research] footer {
    background: linear-gradient(to right, #00aeff, #0066ff);
}

body[data-type=research] header h2 {
    color: rgb(20, 18, 170);
}

body[data-type=personal] header,
body[data-type=personal] footer {
    background: linear-gradient(to right, #7300ff, #9d00ff);
}

body[data-type=personal] > header h2 {
    color: rgb(90, 8, 127);
}

.bold {
    font-weight: bolder;
}