@font-face {
    font-family: "JetBrains";
    src: url("/fonts/JetBrainsMono-VariableFont_wght.ttf");
    font-weight: 100 900;
}

@font-face {
    font-family: "Boot";
    src: url(/media/boot.ttf);
}

:root {
    font-size: var(--scale);
}

html,
body,
main {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

main {
    display: grid;
    place-items: center;
    background: linear-gradient(black, #101010);
}

#os-logo {
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: clamp(11.063rem, 20%, 15.5rem);
    height: fit-content;
    translate: -50% -50%;
    transform-origin: center;
    transition: 0.7s ease-in-out;
    overflow: visible;
    opacity: var(--initial-opacity);
}

#os-logo[data-animate] path {
    opacity: 0;
}

#os-logo[data-animate] path:nth-of-type(1) {
    animation: enterFromLeft 1.3s 0.8s ease-out forwards;
}

@keyframes enterFromLeft {
    from {
        opacity: 0;
        translate: -50px;
    }
    to {
        opacity: 1;
        translate: 0;
    }
}

#os-logo[data-animate] path:nth-of-type(2) {
    animation: enterFromBottom 1.3s 0.8s ease-out forwards;
}

@keyframes enterFromBottom {
    from {
        opacity: 0;
        translate: 0 50px;
    }
    to {
        opacity: 1;
        translate: 0;
    }
}

#os-logo[data-animate] path:nth-of-type(3) {
    animation: enterFromTop 1.3s 0.8s ease-out forwards;
}

@keyframes enterFromTop {
    from {
        opacity: 0;
        translate: 0 -50px;
    }
    to {
        opacity: 1;
        translate: 0;
    }
}

form {
    position: relative;
    top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    transition: opacity 0.3s;
}

*[hidden] {
    opacity: 0;
    pointer-events: none;
}

*[hidden] * {
    pointer-events: none;
}

form fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border: 0;
    margin: 0;
    margin-bottom: 2rem;
}

form input,
form button {
    padding: 0.8rem;
    font-size: 1.2rem;
    border: 0;
    font-family: "JetBrains";
}

form input:disabled {
    text-align: center;
    border: 0 !important;
}

form input:is([type="text"], [type="password"]) {
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
}

form input:is([type="text"], [type="password"]):focus {
    outline: transparent;
    border-width: 2px;
}

input[type="submit"] {
    position: fixed !important;
    bottom: 2rem;
    width: fit-content;
    border-radius: 5px;
    background: transparent;
    border: 1px solid white;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

form input[type="submit"]:hover {
    outline: 1px solid white;
    font-weight: 500;
    cursor: pointer;
}

form input[type="submit"]:active {
    cursor: default;
    scale: 0.9;
}

#profile-pic {
    display: block;
    width: min(60%, 13rem);
    border: 3px solid white;
    border-radius: 50%;
    aspect-ratio: 1/1;
    opacity: 0;
    pointer-events: none;
    translate: 100px;
    cursor: pointer;
    overflow: hidden;
}

#profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.exit-animation {
    animation: exit 0.5s forwards;
}

@keyframes exit {
    from {
        translate: 0;
        opacity: 1;
        pointer-events: all;
    }
    to {
        translate: -100px;
        opacity: 0;
        pointer-events: none;
    }
}

.enter-animation {
    animation: enter 0.5s forwards;
}

@keyframes enter {
    from {
        translate: 100px;
        opacity: 0;
        pointer-events: none;
    }
    to {
        translate: 0;
        opacity: 1;
        pointer-events: all;
    }
}

h1 {
    width: 100%;
    text-align: center;
    font-family: "JetBrains";
    font-weight: 200;
    color: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 2s;
}

#user-profile {
    width: min(45%, 250px);
    border-radius: 50%;
    border: 4px solid white;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.error-animation {
    animation: error 0.6s;
}

@keyframes error {
    from {
        border-color: red;
        color: red;
    }
    to {
        border-color: white;
        color: white;
    }
}

#reset-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: red;
    transition: width 0.3s;
}

#reset-bar::-webkit-progress-bar {
    background-color: black;
}

#reset-bar::-webkit-progress-value {
    background-color: rgb(208, 34, 34);
}

#reset-message {
    position: fixed;
    left: 10px;
    bottom: 10px;
    color: rgba(255, 0, 0, 0.356);
    font-family: "Boot";
    transition: opacity 0.3s;
    opacity: 0;
}

progress[value]::-webkit-progress-value {
    transition: 0.3s;
}