.gallery-content {
    display: grid;
    place-items: center;
    container-type: size;
}

.gallery-content img {
    width: 90cqw;
    max-width: 100cqh;
    max-height: 80cqh;
    -webkit-box-shadow: 0.438rem 0.438rem 2.313rem 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0.438rem 0.438rem 2.313rem 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 0.313rem 1.25rem 0px rgb(0 0 0 / 34%);
}
