.jscoder-content {
	display: flex;
	flex-direction: column;
	background-color: black;
}

.editor,
.editorView {
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: calc(100% - 2.188rem);
	overflow-y: auto;
	word-break: break-all;
}

.editor {
	padding-inline: 0.625rem;
	border-block: 0.625rem solid black;
	color: transparent;
	caret-color: white;
	cursor: text;
}

.editor::selection,
br::selection {
	background: #3abada5e;
	color: transparent;
}

.editor:focus {
	outline: transparent;
}

.editorView {
	position: absolute;
	left: 0.625rem;
	top: 0.625rem;
	width: calc(100% - 1.25rem);
	height: calc(100% - 3.438rem);
	color: #79caff;
	overflow: hidden;
	user-select: none;
	pointer-events: none;
}

.hg-p {
	color: #d253f8;
}

.hg-b {
	color: #467dff;
}

.hg-f {
	color: #faff92;
}

.hg-w {
	color: white;
}

.hg-str {
	color: #ff9100;
}

.hg-num {
	color: #9dff95;
}

.hg-error {
	color: red;
}

.jscoder-content footer {
	position: absolute;
	top: calc(100% - 2.188rem);
	display: grid;
	grid-template-columns: 1fr auto;
	width: 100%;
	background-color: black;
	max-height: 2.188rem;
	overflow: hidden;
	transition: max-height 0.3s;
}

.output {
	padding: 8px;
	font-size: 0.8rem;
	font-weight: 500;
	color: white;
	cursor: pointer;
}

.output * {
	pointer-events: none;
}

.output[data-error="true"] {
	color: red;
}

.run-button {
	position: sticky;
	top: 0;
	right: 0;
	cursor: pointer;
	color: white;
	background: none;
	border: 0;
	user-select: none;
	padding-inline: 0.625rem;
	font-size: 1rem;
	height: 2.188rem;
}

.run-button:active {
	transform: scale(0.9);
}

.jscoder-content[data-fullscreen="true"] .editor,
.jscoder-content[data-fullscreen="true"] .editorView {
	flex: 1;
	height: calc(50% - 0.625rem);
}

.jscoder-content[data-fullscreen="true"] footer {
	position: static;
	flex: 1;
	max-height: unset !important;
	border-top: 1px solid #ffffff26;
	overflow: auto;
}

.jscoder-content[data-fullscreen="true"] .output {
	cursor: default;
}
