desktop-clock {
    width: 10rem;
    height: 10rem;
    position: fixed;
    right: 0;
    top: 0;
    transform: translate(-1.5rem, 1.5rem);
}

desktop-clock::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#CA32C8, transparent);
    border-radius: 50%;
    transform-origin: top left;
    scale: 1.1;
    translate: -7px -7px;
    filter: var(--theme-filter);
}

.clock-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.clock-container::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(white, #FF67F8);
    filter: var(--theme-filter);
}

.clock-container::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: black;
    left: 51%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.clock-container .marks {
    width: 100%;
    height: 100%;
}

.marks .mark {
    position: absolute;
    height: 95%;
    top: 50%;
    left: 51%;
    translate: -50% -50%;
}

.marks .minute-mark {
    width: 2px;
}

.marks .minute-mark::after {
    content: "";
    display: block;
    width: 100%;
    height: 6%;
    background: #0000000f;
}

.marks .hour-mark {
    width: 3px;
}

.marks .hour-mark::after {
    content: "";
    display: block;
    width: 100%;
    height: 6%;
    background: #0000002a;
}

.clock-container .hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.clock-container .seconds-hand {
    width: 2px;
    height: 40%;
    background-color: red;
    border-radius: 0;
}

.clock-container .minutes-hand {
    width: 3px;
    height: 40%;
    background-color: rgb(0, 0, 0);
}

.clock-container .hours-hand {
    width: 4px;
    height: 30%;
    background-color: rgb(0, 0, 0);
}
