#taskbar {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    height: 4.188rem;
    transition: 0.3s ease-in-out;
}

#taskbar::before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: #0000001a;
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(0.563rem);
}

#taskbar:is([data-nav-open=true], [data-settings-open=true]) {
    height: 100%;
}

#taskbar:is([data-nav-open=true], [data-settings-open=true])::before {
    background: #00000069;
	backdrop-filter: blur(1.563rem);
}

#taskbar #settings-buttons {
	display: none;
}

#taskbar[data-settings-open=true] #settings-buttons {
	position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    opacity: 0;

}

#settings-buttons button {
	display: block;
    width: 2.813rem;
    height: 2.813rem;
	background-size: cover;
    border: 0;
    background-color: transparent;
	cursor: pointer;
	transition: 0.1s;
}

#settings-buttons button:hover {
	filter: brightness(0.9);
}

#settings-buttons button:active {
	scale: 0.9;
}


#taskbar-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.188rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#taskbar-notifications {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#taskbar-notifications > * {
    border-radius: 0.313rem;
    transition: background-color 0.1s;
}

#taskbar-notifications > .notification {
    height: fit-content;
    width: 1.375rem;
    padding: 0.5rem;
    aspect-ratio: 1/1;
}

#taskbar-time-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    user-select: none;
}

#taskbar-notifications > #taskbar-time-info:hover,
#taskbar-notifications > .notification:hover {
    background-color: #0000001a;
}

#taskbar-notifications > #taskbar-time-info:active,
#taskbar-notifications > .notification:active {
    background-color: #0000002d;
}

#taskbar-time-info span:first-of-type {
    font-size: 1.1rem;
}

#taskbar-time-info span:nth-of-type(2) {
    font-size: 0.8rem;
}

#taskbar-tasks {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: opacity 0.3s;
}

#taskbar[data-settings-open=true] #taskbar-tasks {
    opacity: 0;
    pointer-events: none;
}

#taskbar-social-links {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.8rem;
    padding-left: 1.1rem;
}

#taskbar-social-links a {
    width: 2.5rem;
    aspect-ratio: 1/1;
    container-type: size;
    opacity: 0.2;
    transition: opacity 0.1s, scale 0.1s;
}

#taskbar-social-links a:hover {
    opacity: 1;
}

#taskbar-social-links a:active {
    scale: 0.9;
}

#taskbar-social-links a img {
    width: 2.5rem;
    aspect-ratio: 1/1;
}

img[muted=true] {
    opacity: 0.4;
}

#taskbar-content #os-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -49.6%;
    transform: scale(0.1);
    transform-origin: center;
    width: fit-content;
    filter: var(--theme-filter);
    transition: opacity 0.3s;
}

/* --------------- Mobile --------------- */

#taskbar-content[data-mobile=true] {
    justify-content: space-around;
}

#home-button {
    padding: 0.5rem;
    background: none;
    border: 2px solid white;
    border-radius: 50%;
    transition: opacity 0.3s;
}

#home-button:active, #navigate-button:active {
    animation: press 0.2s forwards
}

#navigate-button {
    padding: 0.45rem;
    background: none;
    border: 2px solid white;
    border-radius: 3px;
    transition: opacity 0.3s;
}

#taskbar[data-settings-open=true] #navigate-button,
#taskbar[data-settings-open=true] #home-button {
    opacity: 0;
    pointer-events: none;
}