.jscoder-content {
	display: flex;
	flex-direction: column;
	background-color: black;
}

.editor,
.editorView {
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: calc(100% - 35px);
	overflow-y: auto;
	word-break: break-all;
}

.editor {
	padding-inline: 10px;
	border-block: 10px solid black;
	color: transparent;
	caret-color: white;
	cursor: text;
}

.editor::selection,
br::selection {
	background: #3abada5e;
	color: transparent;
}

.editor:focus {
	outline: transparent;
}

.editorView {
	position: absolute;
	left: 10px;
	top: 10px;
	width: calc(100% - 20px);
	height: calc(100% - 55px);
	color: #79caff;
	overflow: hidden;
	user-select: none;
	pointer-events: none;
}

.hg-p {
	color: #d253f8;
}

.hg-b {
	color: #467dff;
}

.hg-f {
	color: #faff92;
}

.hg-w {
	color: white;
}

.hg-str {
	color: #ff9100;
}

.hg-num {
	color: #9dff95;
}

.hg-error {
	color: red;
}

.jscoder-content footer {
	position: fixed;
	top: calc(100% - 35px);
	display: grid;
	grid-template-columns: 1fr auto;
	width: 100%;
	background-color: black;
	max-height: 35px;
	overflow: hidden;
	transition: max-height 0.3s;
}

.output {
	padding: 8px;
	font-size: 0.8rem;
	font-weight: 500;
	color: white;
	cursor: pointer;
}

.output * {
	pointer-events: none;
}

.output[data-error="true"] {
	color: red;
}

.run-button {
	position: sticky;
	top: 0;
	right: 0;
	cursor: pointer;
	color: white;
	background: none;
	border: 0;
	user-select: none;
	padding-inline: 10px;
	height: 35px;
}

.run-button:active {
	transform: scale(0.9);
}

.jscoder-content[data-fullscreen="true"] .editor,
.jscoder-content[data-fullscreen="true"] .editorView {
	flex: 1;
	height: calc(50% - 10px);
}

.jscoder-content[data-fullscreen="true"] footer {
	position: static;
	flex: 1;
	max-height: unset !important;
	border-top: 1px solid #ffffff26;
	overflow: auto;
}

.jscoder-content[data-fullscreen="true"] .output {
	cursor: default;
}
