/* ------------------ Window ------------------- */

.window {
    position: relative;
    z-index: 101;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 1rem;
    cursor: default;
}

.window::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--window-bg);
    box-shadow: -1px 0.313rem 0.938rem -6px rgba(0, 0, 0, 0.459);
    backdrop-filter: blur(30px) saturate(3);
}

/* ------------------ Header ------------------- */

.window header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.875rem;
    user-select: none;
}

.window header .title {
    display: flex;
    align-items: center;
    gap: 0.438rem;
    padding: 0.625rem;
    pointer-events: none;
}

.window header .title * {
    pointer-events: none;
}

.window header .title img {
    width: 1.25rem;
    height: 1.25rem;
}

.window header .buttons {
    display: flex;
    flex-direction: row-reverse;
}

.window header .buttons button {
    width: 2.5rem;
    aspect-ratio: 1/1;
    border: 0;
    padding: 0.625rem 0.688rem;
    font-size: 1rem;
    background-color: transparent;
    transition: background-color 0.1s,  color 0.1s;
}

.window header .buttons button:hover {
    background-color: rgba(0, 0, 0, 0.102);
}

.window header .buttons button:first-of-type {
    border-top-right-radius: 3px;
}

.window header .buttons button:first-of-type:hover {
    background-color: rgb(255, 42, 42);
    color: white;
}

/* ------------------ Content ------------------- */

.content {
    position: relative;
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 0.313rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: white;
}

::-webkit-scrollbar-thumb:active {
    background-color: #bfbfbf;
}

.window .dragger {
    position: absolute;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.nw-resize,
.ne-resize,
.se-resize,
.sw-resize {
    z-index: 2;
    width: 0.938rem;
    height: 0.938rem;
}

.s-resize,
.n-resize {
    z-index: 1;
    width: 100%;
    height: 0.938rem;
}

.e-resize,
.w-resize {
    z-index: 1;
    width: 0.938rem;
    height: 100%;
}

.window .nw-resize {
    top: -0.313rem;
    left: -0.313rem;
    cursor: nw-resize;
}

.window .ne-resize {
    top: -0.313rem;
    right: -0.313rem;
    cursor: ne-resize;
}

.window .se-resize {
    bottom: -0.313rem;
    right: -0.313rem;
    cursor: se-resize;
}

.window .sw-resize {
    bottom: -0.313rem;
    left: -0.313rem;
    cursor: sw-resize;
}

.window .s-resize {
    bottom: -0.313rem;
    left: -0.313rem;
    cursor: s-resize;
}

.window .n-resize {
    top: -0.313rem;
    left: -0.313rem;
    cursor: n-resize;
}

.window .e-resize {
    top: -0.313rem;
    right: -0.313rem;
    cursor: e-resize;
}

.window .w-resize {
    top: -0.313rem;
    left: -0.313rem;
    cursor: w-resize;
}

/* Errors */
.permissions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1rem;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 700;
}

.permissions > span {
    margin-top: 1rem;
    font-size: 0.8em;
}