@font-face {
	font-family: "JetBrains";
	src: url("/fonts/JetBrainsMono-VariableFont_wght.ttf");
	font-weight: 100 900;
}

* {
	font-family: "JetBrains";
}

body {
	margin: 0 auto;
	background-image: url("/media/bg.svg");
	background-size: cover;
}

main {
	position: relative;
	width: 100vw;
	height: 100vh;
	padding: 10px;
	box-sizing: border-box;
	overflow: hidden;
}

#theme-button {
	position: absolute;
	left: 20px;
	bottom: 20px;
	border: 0;
	border-radius: 5px;
	padding: 10px 30px;
	font-size: 13px;
	background: linear-gradient(0deg, rgba(209, 90, 207, 0.8) 0%, rgba(250, 167, 249, 0.8) 100%);
    box-shadow: -1px 5px 15px -6px rgba(0, 0, 0, 0.459);
	color: black;
	font-weight: 800;
	transition: background-color 0.1s;
	cursor: pointer;
	transition: filter 0.3s, transform 0.1s;
}

#theme-button:hover {
	filter: brightness(0.8);
}

#theme-button:active {
	transform: scale(0.9);
}
